.wrapper {}

.link {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    margin-right: 3rem;
    width: 4rem;
    transition: all .2s ease-out;

    &Active {
        // text-transform: uppercase;
        font-weight: 800;
        border: .5rem solid rgb(220, 233, 231);
        border-bottom: 4rem solid rgb(220, 233, 231);
        background-color: rgb(220, 233, 231);
        border-radius: 1rem;
        // transform: translateY(100%);
    }
}